/* ===== HEADER + NAV ===== */
header {
  width: 100%;
  background-color: #FAB12F;
  border-bottom: 2px solid #DD0303;
}

/* Structure 3 colonnes */
.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 30px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* Bloc Logo aligné à gauche */
.header-left img {
  height: 50px;
}

/* Bloc Navigation centré */
.header-center {
  justify-self: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* Bloc Auth à droite */
.header-right {
  justify-self: end;
  display: flex;
  flex-direction: column;
  text-align: right;
}

/* Login / Signup */
#auth-links {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/* User + Logout */
#user-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.nav-links a,
#auth-links a,
#logout-btn {
  text-decoration: none;
  color: #DD0303;
  font-weight: bold;
}

.nav-links a:hover,
#auth-links a:hover {
  color: #FA812F;
}

#logout-btn {
  background: #DD0303;
  color: #FFF;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

#logout-btn:hover {
  background: #FA812F;
  color: #FFF;
}
