@import "layout.css";
@import "components.css";

/* ==========================
   palette ColorHunt
   Palette : FEF3E2, FAB12F, FA812F, DD0303
========================== */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
